.note
main
seqdiagram.diag
cmi-plugin
*coverprofile.out*
bin/
.idea
/dev
.cache_ggshield
.vscode
*.test
.DS_Store
/tmp
.env
.ci/controllers-test/logs/*.log
.ci/controllers-test/logs/*.log.*
kubectl
yq_linux*
# gosec
gosec-report.sarif
